.customer-review .btn-group>.btn {
    flex: inherit;
    color: #d6d6d6;
}
.customer-review .btn-group>.btn.reviewed{
    color:#d8d83f;
}
.large-img img {
    height: 540px !important;
    width: 338px !important;
}
.other-imgs .img-thumbnail {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}
.badge {
    z-index: 1;
}